.escena{
    width:800px;
    height:500px;
    margin:auto;
    position:relative;
    overflow:hidden;
}

/* Fondo */
.pared{
    position:absolute;
    width:100%;
    height:60%;
    top:0;
    background:url("wall.jpg") center/cover;
}

.suelo{
    transform: rotateX(45deg);
    position:absolute;
    width:100%;
    height:40%;
    bottom:0;
    background:url("floor.jpg") center/cover;
    
}

