.modal {
    width: 200px;
    height: 150px;
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    transition: transform 0.3s;

}


.modal:hover{
    transform: scale(2);
}