.contenedor {
  position: relative;
  height: 150px;
}

.circulo {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: absolute;
  top: 20px;
  transition: transform 1s ease;
}

.rojo {
  background-color: red;
  left: 50px;
}

.azul {
  background-color: rgba(0, 0, 255, 0.5);
  left: 200px;
}

.azul:hover {
  transform: translateX(-120px);
}
