@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;
    background: radial-gradient(circle at top left, #1a1a2e, #0f0f0f);
   color: #e5e5e5;
    overflow: hidden;
}

nav{
    width: 100%;
    height: 10vh;
    position: sticky;
}

.nav-container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo{
    color: white;
    font-size: 2rem;
    font-weight: bold;
}

.logo span{
    color: #f2afff;
    text-shadow: 0 0 10px rgb(190, 0, 219) ;
}
.nav-container .links {
    display: flex;
}

.nav-container .links a{
    font-size: 1.2rem;
    color: white;
    margin: 0 20px;
    text-decoration: none;
    font-weight: 550;
    transition: 0.3s linear;
}

.nav-container .links a:hover{
    color: #e666ff;
    border-bottom: 0 0 10px rgb(162, 0, 187) ;
}



.main-container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 80px;
}
.main-container .content{
    color: white;
    width: 40%;
    min-height: 100px;
    transform: translateY(100px);
    margin-left: 100px;
}
.image{
    width: 400px;
    height: 50vh;
    border-radius: 100%;
    overflow: hidden;
    box-shadow: 0 0 50px rgb(170, 0, 255);
}

.image img{
    width: 400px;
    height: 420px;
    border-radius: 150%;
    object-fit: cover;
    object-position: center 100%;

}

.image:hover{
    animation: animate 1.5s ease-in-out infinite;
}

@keyframes animate {
    0%{
        scale: 1;
    }
    50%{
        scale: 1.05;
    }
    100%{
        scale: 1;
    }
}


@media (max-width:884px) {
    nav .logo{
        position: absolute;
        top: 16px;
        left: 15px;
        font-size: 1.5rem;
    }

    .main-container{
        display: flex;
        flex-direction: column-reverse;
    }

    .nav-container .links{
        display: none;
    }

    .main-container .content{
        width: 80%;
    }
    .image{
        z-index: -1;
        width: 60%;
        height: 80%;
    }
}


@media (max-width:440px) {
    .image{
        width: 60%;
        height: 50%;
    }

    .main-container .content{
        width: 80%;
    }
}

