 body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f5f5f5;
        }

        header {
            background-color: #4CAF50;
            color: white;
            padding: 20px;
            text-align: center;
        }
          header img {
            width: 120px;
            height: 120px;
            border-radius: 50%;
            object-fit: cover;
            margin-bottom: 10px;
            border: 3px solid white;
        }
        nav {
            background-color: #333;
        }

        nav a {
            color: white;
            padding: 14px 20px;
            display: inline-block;
            text-decoration: none;
        }

        nav a:hover {
            background-color: #575757;
        }

        section {
            padding: 40px 20px;
            max-width: 800px;
            margin: auto;
            background-color: white;
            margin-top: 20px;
            border-radius: 10px;
        }

        h2 {
            color: #4CAF50;
        }

        p {
            color: #555;
            line-height: 1.6;
        }

        footer {
            width: -120px;
            text-align: center;
            padding: 20px;
            background-color: #333;
            color: white;
            margin-top: 20px;
        }