section {
  width: 600px;
  margin: 40px auto;
  font-family: Arial, sans-serif;
}

h1 {
  font-size: 32px;
  margin-bottom: 15px;
}

p {
  line-height: 1.5;
  margin-bottom: 20px;
}

strong {
  font-size: 20px;
}
