.eclipse{
    position: relative;
    width: 200px;
    height: 200px;
    margin: auto;
}

.sol{
    width: 200px;
    height: 200px;
    background: orange;
    border-radius: 50%;
    position: absolute;
}

.luna{
    width: 200px;
    height: 200px;
    background: black;
    border-radius: 50%;
    position: absolute;
    left: -220px;
    animation: eclipse 4s infinite;
}

@keyframes eclipse{
    0%{ left:-220px; }
    50%{ left:0; }
    100%{ left:220px; }
}

