.noria{
    width:200px;
    height:200px;
    border:5px solid #333;
    border-radius:50%;
    margin:auto;
    position:relative;
    animation: girar 8s linear infinite;
}

.cabina{
    width:20px;
    height:20px;
    background:red;
    position:absolute;
    border-radius:50%;
}

.cabina:nth-child(1){ top:-10px; left:90px; }
.cabina:nth-child(2){ top:90px; left:-10px; }
.cabina:nth-child(3){ bottom:-10px; left:90px; }
.cabina:nth-child(4){ top:90px; right:-10px; }

@keyframes girar{
    from{ transform: rotate(0deg); }
    to{ transform: rotate(360deg); }
}
