.cookies{
    background:#333;
    color:white;
    padding:20px;
    width:250px;
    margin:auto;
    opacity:0;
    transform: translateY(50px);
    animation: aparecer 2s ease forwards;
    animation-delay:1s;
}

@keyframes aparecer{
    to{
        opacity:1;
        transform: translateY(0);
    }
}

