.loader{
    width:50px;
    height:50px;
    border:6px solid #ccc;
    border-top:6px solid #3498db;
    border-radius:50%;
    margin:auto;
    animation: spin 1s linear infinite;
}

@keyframes spin{
    to{ transform: rotate(360deg); }
}