body, html {
  margin: 0;
  padding: 0;
}

.hero {
  height: 100vh; /* ocupa todo el viewport */
  overflow: hidden;
}

.hero img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* evita deformaciones */
}

nav ul {
  list-style: none;
  padding: 20px;
  margin: 0;
  background: #f0f0f0;
}

nav li {
  margin: 10px 0;
}

nav a {
  text-decoration: none;
  font-size: 18px;
  color: #004f8b;
}
