
body{
 margin: 0;
   font-family: Arial, sans-serif;
   background: radial-gradient(circle at top left, #1a1a2e, #0f0f0f);
   color: #e5e5e5;
   }

h1{
   text-align: center;
   color: #8b5cf6;
   margin-top: 40px;
  font-size: 40px;
}

h2{
  color: #8b5cf6;
  margin-top: 50px;
  margin-bottom: 20px;
}

.container{
  width: 80%;
  margin: auto;
 padding-bottom: 60px;
}

        /* ====== Activitats Grid ====== */

.activitats{
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 20px;
            margin-bottom: 40px;
        }

.activitats a{
  text-decoration: none;
 background: #1c1c1c;
 padding: 15px;
 border-radius: 12px;
 text-align: center;
 color: #e5e5e5;
 transition: 0.3s;
 box-shadow: 0 0 10px rgba(139, 92, 246, 0.2);
 }

.activitats a:hover{
  background: #8b5cf6;
   color: white;
  transform: translateY(-5px);
}

        /* ====== Responsive ====== */

     @media(max-width: 900px){
            .activities{
            grid-template-columns: repeat(2, 1fr);
        }
}

@media(max-width: 600px){
    .activitats{
                grid-template-columns: 1fr;
    }
}
