body{
 margin: 0;
   font-family: Arial, sans-serif;
   background: radial-gradient(circle at top left, #1a1a2e, #0f0f0f);
   color: #e5e5e5;
   }

h2{
   text-align: center;
   color: #8b5cf6;
   margin-top: 40px;
  font-size: 40px;
}
.main-container{
   text-align: center;
   color: #ffffff;
   margin-top: 40px;
  font-size: 40px;
}
.main-container .content{
    color: white;
    width: 40%;
    min-height: 100px;
    transform: translateY(100px);
    margin-left: 100px;
}
